* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: lightseagreen;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  transform-style: preserve-3d;
  background: white;
  min-height: 80vh;
  width: 30rem;
  border-radius: 30px;
  padding: 1rem 3rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.burger {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger img {
  width: 15rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 99, 71, 0.75),
    rgba(30, 178, 170, 0.75)
    );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 1.5rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 0.8rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sides, .drinks {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  transition: all 0.75s ease-out;
}

.sides button, .drinks button {
  padding: .75rem 1.2rem;
  background: none;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
  transition: all 0.2s ease-in;
}
.sides button:hover, .drinks button:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}

button.active {
  background: #1eb2aa;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

.purchase {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.purchase button {
  width: 100%;
  padding: 1rem 0;
  background: tomato;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}
.purchase button:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}
